<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.lvk29.test"
    versionCode = "10"
    version     = "0.0.1" >
    <icon src="icon.png" />
<!-- versionCode is optional and Android only -->
    <plugin name="cordova-plugin-whitelist" />
  <name>LVK29 Example</name>
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
  <description>
      An example for LVK29 build docs.
  </description>

  <author href="http://lvk29.ru" email="support@phonegap.com">
      Hardeep Shoker LVK29
  </author>

</widget>