<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADDITIONAL_LANGUAGES</key>
	<string>ru</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>949830358205-jb7c2jc1dvmbd9fcopqk88ak7et93l6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949830358205-jb7c2jc1dvmbd9fcopqk88ak7et93l6f</string>
	<key>API_KEY</key>
	<string>AIzaSyC1PD_CTMO_slleeiOgvvxmUjIL7Edzt_I</string>
	<key>GCM_SENDER_ID</key>
	<string>949830358205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodhunter</string>
	<key>PROJECT_ID</key>
	<string>food-hunter-8213d</string>
	<key>STORAGE_BUCKET</key>
	<string>food-hunter-8213d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949830358205:ios:8e6f70b2bc9b00d6</string>
	<key>DATABASE_URL</key>
	<string>https://food-hunter-8213d.firebaseio.com</string>
</dict>
</plist>